


.container-All-cards{

    width: 100%;
    display:flex;
   justify-content:space-around;
    flex-wrap: wrap;
    
}

main{
justify-content: center;}

.state{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
    width: 123%;
    margin: 1rem 1rem 1rem 1rem;
    height: 2rem;
    
}

footer{
    background-color:rgb(247, 247, 247);
    height: 8vw;
    margin-top: 15vw;
    width: 101%;
    position: relative;
    right: 8px;
    display: flex;
   
}

.ul-footer{
    display: flex;
    gap: 10px;
}